/* Empty. Add your own CSS if you like */
#record, #save img { height: 10vh; padding: 15px; }

#record.recording {
  background: red;
  background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,white 75%,white 100%,#7db9e8 100%);
  background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,white 75%,white 100%,#7db9e8 100%);
  background: radial-gradient(center, ellipse cover, #ff0000 0%,white 75%,white 100%,#7db9e8 100%);
}

.texto-verde{ color: #090; }
.texto-amarelo{ color: #970; }
.texto-vermelho{ color: #900; }

#app-body{ padding: 15px; }